@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #E1F5F3;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
a {
    text-decoration: none;
    color: black;
}
#logo {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    display: block;
}
.topnavbar {
    display: flex;
    justify-items: center;
    width: 50%;
    text-align: center;
    margin: auto;
}
.topnavbar a {
    color: black;
    text-decoration: none;
    padding: 16px 16px;
    font-size: 26px;
    margin: auto;   
}
.topnavbar a:hover {
    background-color: #F5E3C9;
}
.topnavbar a.active {
    background-color: #f3e5e3;
}
#article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 60%;
}
#article p {
    font-size: 20px;
}
footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
#githublogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}